<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue-boolzapp</title>

    <!-- CSS -->
    <link rel="stylesheet" href="./_assets/css/main.css">

    <!-- CDN -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css' integrity='sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==' crossorigin='anonymous'/>

</head>
<body>

    <!-- Container vuejs -->
    <div id="app">
        <!-- WhatsApp Container Main App -->
        <div class="wh_container_main">
            <!-- MainApp -->
            <div class="mainApp_wh">
                <!-- wh Left -->
                <div class="wh_left">
                    <!-- Header profile -->
                    <div class="header_profile">
                        <!-- Container profile -->
                        <div class="container_profile">
                            <div class="dot_avatar dot_avatar_profile">
                                <img src="./_assets/_resources/imgs/avatar_6.jpg" alt="profile image">
                            </div>
                            <span class="nameProfile">Sofia</span>
                        </div>
                        <!-- Container function -->
                        <div class="container_function">
                            <div class="box_func box_icon_header">
                                <i class="fa-solid fa-circle-notch"></i>
                            </div>
                            <div class="box_func box_icon_header">
                                <i class="fa-solid fa-message"></i>
                            </div>
                            <div class="box_func box_icon_header">
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </div>
                        </div>
                    </div>
                    <!-- Alert notification -->
                    <div class="alert_notification">
                        <div class="box_func box_activated">
                            <i class="fa-solid fa-bell-slash"></i>
                        </div>
                        <div class="alert_text">
                            <h2 class="heading_alert">Ricevi notifiche di nuovi messaggi</h2>
                            <p class="subHeading_alert">Attiva notifiche desktop</p>
                        </div>
                    </div>
                    <!-- Container search -->
                    <div class="container_search">
                        <div class="box_icon_search">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                        <input v-model="searchQuery" @input="filterContacts" type="text" class="searchInput" placeholder="Cerca o inizia una nuova chat">
                    </div>
                    <!-- Container chats -->
                    <div class="container_all_chats">
                        <ul class="chats_lists">
                            <li v-for="(element, index) in contacts" :key="index" class="chat_item" :class="(indexActive == index) ? 'chat_selected' : '' " v-show="filterContacts.includes(element)" @click="chatSelect(index)">
                                <div class="user_avatar">
                                    <img :src="'./_assets/_resources/imgs/' + element.avatar" :alt="'Avatar ' + element.name">
                                </div>
                                <div class="user_info">
                                    <div class="top_line">
                                        <span class="user_name">{{ element.name }}</span>
                                        <span class="clock">12:00</span>
                                    </div>
                                    <div class="bottom_line">
                                        <p class="last_message">Ultimo messaggio inviato</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- wh Right -->
                <div class="wh_right">
                    <!-- Header chat -->
                    <div class="header_chat">
                        <!-- Container profile chat -->
                        <div class="container_profile">
                            <div class="dot_avatar">
                                <img :src="'./_assets/_resources/imgs/' + activeContact.avatar" :alt="activeContact.name">
                            </div>
                            <div class="user_chat_info">
                                <span class="nameProfile">{{ activeContact.name }}</span>
                                <p class="last_access">Ultimo accesso</p>
                            </div>
                        </div>
                        <!-- Container function chat -->
                        <div class="container_function">
                            <div class="box_func box_icon_header">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </div>
                            <div class="box_func box_icon_header">
                                <i class="fa-solid fa-paperclip"></i>
                            </div>
                            <div class="box_func box_icon_header">
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </div>
                        </div>
                    </div>
                    <!-- chat -->
                    <div class="container_chat">
                        <div class="all_messages">
                            <div class="message" v-for="(message, index) in contacts[indexActive].messages" :key="index" class="message" :class="message.status">
                                <p class="message_text">{{ message.message }}
                                    <span class="clock_message">{{ new Date().toLocaleString([], {year: 'numeric', hour: '2-digit', minute: '2-digit'}) }}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- message -->
                    <div class="container_message">
                        <div class="box_func">
                            <i class="fa-regular fa-face-smile"></i>
                        </div>
                        <div class="container_message_text">
                            <input v-model="textMessage" @keydown.enter="sendMessage" type="text" class="messageInput" placeholder="Scrivi un messaggio">
                        </div>
                        <div class="box_func">
                            <i class="fa-solid fa-microphone"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- SCRIPT -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./_assets/js/main.js"></script>
    
</body>
</html>