* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    list-style-type: none;
}

body{
    font-family: "Poppins", sans-serif;
    background: #DADBD3;
    color: #070000;
}

/* WhatsApp Container Main App */
.wh_container_main{
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 20px 0;
}

/* BG line */
.wh_container_main::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 15vh;
    background: #009688;
}

/* MainApp */
.mainApp_wh{
    position: relative;
    z-index: 2;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
}

/* wh Left */
.wh_left{
    width: 35%;
    height: 100%;
    background: green;
}

/* Header profile */
.header_profile{
    width: 100%;
    height: 60px;
    padding: 10px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #EAEAEA;
}

/* Container profile */
.container_profile{
    display: flex;
    align-items: center;
}

.dot_avatar{
    width: 40px;
    height: 40px;
}

.dot_avatar img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: cover;
}

.nameProfile{
    font-size: 1rem;
    font-weight: 400;
    margin-left: 10px;
}

/* wh Right */
.wh_right{
    width: 65%;
    height: 100%;
    background: blue;
}